# Python
__pycache__/
*.py[cod]
*.so

# Environments
.env
.venv/
env/
venv/
.conda/

# Conda environment files
environment.lock.yml

# Build / cache
build/
dist/
*.egg-info/
*.egg

# Jupyter
.ipynb_checkpoints/

# System files
.DS_Store
Thumbs.db
